@keyframes levitate {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-1in);
    }
    100% {
        transform: translateY(0);
    }
}

.levitate {
    animation: levitate 3s ease-in-out infinite;
}
